body {
  background: white;
  background-image: url("../images/hotel.jpg");
  background-size: contain;
}

.header-title, .total-container{
  padding:20px;
  overflow: auto;
}

main {
  display:flex;
}

.container-top{
  /* color: #363439; */
  background-color: #0077B6;
  color: #FEFAE0;
  display: flex;
  flex-direction: column;
}

.nav-buttons{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  color:black;
}

#home{
  margin-right:10px;
}

button{
  /* background: none; */
  cursor: pointer;
  color: #FEFAE0;
  background-color:black;
  
}

.date-selector{
  color:#FEFAE0;
  padding:20px;
  overflow:auto;
  background-color: #0077B6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: baseline;
}

.book-button{
  color:black;
}
.container-bookings {
  width: 40vw;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.p-date, .p-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.container-total-cost {
    color: #FEFAE0;
    background: #0077B6;
    width: 300px;
    text-align: center;
    width: 40vw;
}
.dashboard {
  width: 200px;
  height: 100px;
  background:  #FEFAE0;
  margin: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.current-bookings {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card-holder{
  background-color: #FEFAE0;
  padding: 15px;
  /* width: 30vw; */
  text-transform: capitalize;
  text-align: center;
  margin: 1em;
}

.box-image{
  height:300px;
  width:300px;
}

.container-available-rooms{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.styled-table {
    /* color:black; */
    background-color: #dddddd;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #90E0EF;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: black;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #90E0EF;
}

#top-button {
  background-color: #90E0EF;
  color: #FEFAE0;
  display: none;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: var(--text-color);
  color: rgb(41, 7, 73);
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}

#table-header{
  color:#dddddd !important;
}