* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  background: white;
  background-image: url("../images/hotel.jpg");
  background-size: contain;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.header-title,
.total-container {
  padding: 20px;
  overflow: auto;
}

main {
  display: flex;
}

.container-top {
  background-color: #0077B6;
  color: #FEFAE0;
  display: flex;
  flex-direction: column;
}

.nav-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  color: black;
}

#home {
  margin-right: 10px;
}

button {
  cursor: pointer;
  color: #FEFAE0;
  background-color: black;
}

.date-selector {
  color: #FEFAE0;
  padding: 20px;
  overflow: auto;
  background-color: #0077B6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: baseline;
}

.book-button {
  color: #FEFAE0;
}

.container-bookings {
  width: 40vw;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  scroll-snap-align: start;
}

.p-date,
.p-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.container-total {
  color: #FEFAE0;
  background: #0077B6;
  width: 300px;
  text-align: center;
  width: 40vw;
  margin: 22px;
}

.container-bookings-header {
  padding: 10px;
  background: #FEFAE0;
  color: #0077B6;
}

.dashboard {
  width: 200px;
  height: 100px;
  background: #FEFAE0;
  margin: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.current-bookings {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card-holder {
  background-color: #FEFAE0;
  padding: 15px;
  /* width: 30vw; */
  text-transform: capitalize;
  text-align: center;
  margin: 1em;
}

.box-image {
  height: 300px;
  width: 300px;
}

.container-available-rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}


.container-bookings {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.p-date,
.p-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.dashboard {
  width: 200px;
  height: 100px;
  background: #FEFAE0;
  margin: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}